@keyframes logoAnimation {
    0%, 100% { opacity: 1; }
    33%, 66% { opacity: 0; }
}

.logoContainer {
    position: relative;
    width: 13rem; /* Dobrado de 6rem */
    height: 7rem; /* Dobrado de 6rem */
}

.logoImage {
    position: absolute;
    height: 7rem; /* Dobrado de 6rem */
    width: 13rem; /* Dobrado de 6rem */
    opacity: 0;
    animation: logoAnimation 6s infinite;
}

.logoImage:nth-of-type(1) {
    animation-delay: 0s;
}

.logoImage:nth-of-type(2) {
    animation-delay: 2s;
}

.logoImage:nth-of-type(3) {
    animation-delay: 4s;
}

.cart-popup {
    z-index: 9999; /* Valor alto para garantir que fique sobre outros elementos */
}
